/*Dans cette partie nous nous occupons de la partie mobile en général*/


/*Ici tout ce qui est inferieur a 768px sera affecter par les changement
C'est le CSS pour les telephone mobile
*/

@media (max-width: 768px) {
    /**Ici nous nous concentrons sur la  partie header en général 
    Avec une marge top, droit et gauche a 50px
    un display en inline flex
    avec une décoration overline et texte en bleue claire au survole des liens
    */
    .page-header {
        margin: 20px 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .navigation-img {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .navigation-img img {
        width: 50%;
    }
    .navigation-box {
        display: flex;
        flex-direction: column;
    }
    .navigation-liste {
        padding: 0;
        gap: 0;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 10px;
    }
    .navigation-liste li {
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .navigation-liste a:hover {
        border-top: none;
    }
    .navigation-liste li:nth-of-type(1) a {
        border-top: none;
        padding: 0;
        color: #0065FC;
    }
    .navigation-liste li:nth-of-type(1) {
        border-top: none;
        border-bottom: solid 3px #0065FC;
    }
    .navigation-liste li:nth-of-type(2) {
        border-top: none;
        border-bottom: solid 3px #F2F2F2;
    }
    /*Ici nous traitons la partie principale du site web*/
    .page {
        margin: 0;
    }
    .page-main {
        margin-top: 20px;
    }
    /*Ici nous traitons la partie formulaire dans son intégralité
Ici on traite la partie saisie de la partie recherche*/
    .page-form-recherche {
        padding: 0;
        margin-top: 0;
        width: 85%;
    }
    form {
        margin: 20px;
    }
    form h1 {
        font-weight: bold;
        font-size: 20px;
        margin: 0;
    }
    form p {
        font-weight: 400;
    }
    .form-search {
        display: flex;
        align-content: center;
    }
    .label-input {
        width: 100%;
    }
    input[type=search] {
        width: 100%;
    }
    input:focus {
        outline: none !important;
        border-color: #719ECE;
        border-left: none;
    }
    input[type=submit] {
        visibility: hidden;
    }
    /*Dans cette partie la on gère la partie bouton submit de la recherche*/
    .btn-submit-mobile {
        background: #0065FC;
        border-radius: 15px;
        padding: 0 15px;
        margin-left: -10px;
    }
    .fa-search {
        display: block;
        color: white;
    }
    .btn-recherche {
        display: none;
        background: #0065FC;
        cursor: pointer;
        border-radius: 15px;
    }
    /*On commence par designer les boites des filtres c'est a dire tous les span*/
    .form-filtres-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
    }
    .filtre-texte {
        font-weight: bold;
        width: 100%;
    }
    .filtre-texte {
        font-weight: bold;
        width: 100%;
        margin-bottom: 5px;
    }
    .filtre-box:hover {
        cursor: grab;
        color: hsla(216, 100%, 49%, 0.377);
    }
    /*Ici on s'occupe des icons */
    .filtre-box {
        padding-right: 25px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .fas-filtre {
        border-radius: 50px;
    }
    /*Ici ce sont les infos en plus*/
    .info-en-plus {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .fa-info-circle {
        margin-right: 10px;
        color: #0065FC;
    }
    /*Ici commence la partie présentation des logements*/
    /*On commence a definir les deux zones*/
    .main-container-logements {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    /*Conteneur gauche*/
    .container-gauche {
        background-color: white;
        border-radius: 30px;
        width: 100%;
    }
    .container-gauche>h2 {
        padding: 0;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .container-gauche>h3 {
        margin-bottom: 50px;
    }
    /*Ici on construit notre container des containers de logements*/
    .container-informations {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 20px;
    }
    h3 a {
        color: black;
    }
    /*On design toute les boites qui contiendront les informations des logements*/
    .box a {
        color: black;
    }
    /*Ici on design la partie imae de chaque boite*/
    .box-image {
        height: 60%;
    }
    /*Ici on design les les containers d'informations des logements titre prix etc....*/
    .box-informations {
        height: 80px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    /*Ici on s'occupe de la partie texte des logements titre prix nombre d'étoiles*/
    .box-informations {
        padding: 0 15px;
    }
    .box-informations>h4 {
        margin: 0;
        margin: 10px 0 5px 0;
    }
    .box-informations>p {
        margin: 0;
    }
    /*Ici on design la partie etoiles*/
    .box-etoiles {
        font-size: 12px;
        margin-top: 3px;
    }
    .etoile-bleue {
        color: #0065FC;
    }
    .etoile-gris {
        color: #d1d1d1;
    }
    /*Partie droite des logements Conteneur droit (l'aside)*/
    .container-droit {
        background-color: #F2F2F2;
        margin: 0;
        border-radius: 0;
    }
    .lien-externe {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .lien-externe>h2 {
        margin: 0;
    }
    /*Ici on commence a construire la boite qui contiendra les informations textes et images*/
    .container-box a {
        color: black;
    }
    /*Ici on construit la boite qui contiendra les images*/
    .box-image-aside {
        width: 30%;
        height: 100%;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }
    .image-aside {
        width: 100%;
        height: 60%;
    }
    /*Ici on place toutes les images*/
    .box-informations-aside {
        width: 70%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 0 20px;
    }
    .box-informations-aside>h4 {
        margin-bottom: 0;
    }
    .box-informations-aside>p {
        margin-top: 10px;
    }
    .box-etoiles-aside {
        display: flex;
        align-items: flex-end;
    }
    /*Ici on s'occupe de toute la partie activités à marseille*/
    .activites {
        margin: 0 30px;
    }
    .container-activites-flex {
        flex-direction: column;
        height: auto;
    }
    .container-texte {
        height: 30%;
    }
    .container-activites-informations {
        width: 100%;
        height: 200px;
        margin: 0;
        margin: 30px 0;
    }
    .box-image-activités {
        height: 140px;
    }
    .informations-3 {
        margin: 30px 0 0 0;
    }
    .informations-6 {
        margin: 30px 0 30px 0;
    }
    .container-image {
        height: 70%;
        border-radius: 30px 30px 0 0;
    }
    /***
    *
    *
    ***/
    /*Ici on s'occupe de la partie footer de la page*/
    .page-footer {
        background-color: #F2F2F2;
        width: 100%;
    }
    .container-col-footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 30px;
    }
    .col-footer {
        flex: 1;
    }
    .footer-li {
        margin: 15px 0;
    }
    .footer-li a {
        color: black;
    }
    .col-footer h3 a {
        color: black;
    }
    @media (max-width: 477px) {
        .container-logo-info-en-plus {
            width: 42px;
        }
    }
}