/**Ici nous nous concentrons sur la  partie header en général 
Avec une marge top, droit et gauche a 30px
un display en inline flex
avec une décoration overline et texte en bleue claire au survole des liens
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 100%;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .page-header {
        margin: 20px 20px 0;
    }
    .navigation-img img {
        width: 50%;
    }
    .navigation-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*Ici nous précisons que les liens seront en inline flex*/
    .navigation-liste {
        display: inline-flex;
        gap: 68px;
    }
    .navigation-liste a {
        color: black;
    }
    /*Text décoration au survole des liens*/
    .navigation-liste li:nth-of-type(1) a {
        border-top: solid 2px #0065FC;
        padding-top: 44px;
        color: #0065FC;
    }
    /*Text décoration au survole des liens*/
    .navigation-liste a:hover {
        border-top: none;
        ;
    }
    /*Ici nous traitons la partie principale du site web*/
    .page-main {
        margin: 0px 10px;
    }
    /*Ici nous traitons la partie formulaire dans son intégralité
*/
    /*Ici on traite la partie saisie de la partie recherche*/
    .page-form-recherche h1 {
        font-weight: bold;
    }
    .page-form-recherche p {
        margin-right: 30px;
    }
    input {
        font-weight: bold;
        color: black;
        border: none;
        border: solid 1px #F2F2F2;
        padding: 10px;
    }
    input:focus {
        outline: none !important;
        border-color: #719ECE;
        border-left: none;
    }
    input[type=submit] {
        background: #0065FC;
        position: relative;
        left: -5px;
        padding: 11.5px;
        border: none;
        color: white;
        cursor: grab;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    /*On commence par designer les boites des filtres c'est a dire tous les span*/
    .form-filtres-container {
        display: flex;
        align-items: center;
    }
    .filtre-box {
        margin-right: 10px;
    }
    .filtre-box:hover {
        cursor: grab;
        color: hsla(216, 100%, 49%, 0.377);
    }
    /*Ici on s'occupe des icons on */
    .fas-filtre {
        background-color: #DEEBFF;
        color: #0065FC;
    }
    /*Ici commence la partie présentation des logements*/
    /*On commence a definir les deux zones*/
    .main-container-logements {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    /*Conteneur gauche*/
    .container-gauche {
        margin-top: 50px;
        background-color: #F2F2F2;
        border-radius: 30px;
        width: 100%;
    }
    .container-gauche>h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 20PX;
    }
    .container-gauche>h3 {
        padding-left: 30PX;
        margin-bottom: 50px;
    }
    /*Ici on construit notre container des containers de logements*/
    .container-informations {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
        padding: 0;
    }
    /*On design toute les boites qui contiendront les informations des logements*/
    .box-gauche {
        flex: 1 1 40%;
        height: 250px;
    }
    /*Ici on design les les containers d'informations des logements titre prix etc....*/
    .box-informations {
        height: 80px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .container-droit {
        margin: 0;
        margin-top: 20px;
        background-color: #F2F2F2;
        padding: 0 20px;
        border-radius: 30px;
    }
    /*Ici on s'occupe de la partie texte des logements titre prix nombre d'étoiles*/
    .box-informations {
        padding: 0 15px;
    }
    .box-informations>h4 {
        margin: 0;
        margin: 10px 0 5px 0;
    }
    .box-informations>p {
        margin: 0;
    }
    /*Ici on design la partie etoiles*/
    .etoile-bleue {
        color: #0065FC;
    }
    .etoile-gris {
        color: #d1d1d1;
    }
    /*Ici on commence a construire la boite qui contiendra les informations textes et images*/
    .box-aside {
        display: flex;
        flex: 200px;
        margin: 0;
        height: 150px;
    }
    .container-box {
        margin-right: 20px;
    }
    .container-box:nth-of-type(3) {
        margin-right: 0;
    }
    .container-box a {
        color: black;
    }
    /*Ici on construit la boite qui contiendra les images*/
    .box-image-aside {
        width: 30%;
        height: 100%;
    }
    .container-informations-aside {
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 30px;
    }
    .container-box-aside {
        margin-right: 10px;
        flex: 1;
    }
    .container-box-aside:nth-of-type(3) {
        margin-right: 0;
    }
    .box-informations-aside>h4 {
        margin-bottom: 0;
    }
    .box-informations-aside>p {
        margin-top: 5px;
    }
    /*Ici on s'occupe de toute la partie activités à marseille*/
    .activites {
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 0 20px;
    }
    .container-activites-flex {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .container-activites-informations>a {
        color: black;
        margin: 0;
    }
    .box-image-activités {
        width: 100%;
        height: 80%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .informations-column {
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    }
    .informations-column>a {
        color: black;
    }
    .informations-1 {
        width: 50%;
        height: 550px;
    }
    .informations-2 {
        height: 260PX;
    }
    .informations-3 {
        height: 260PX;
    }
    .informations-4 {
        width: 50%;
        height: 550px;
        margin-top: 30px;
        margin-left: 0;
    }
    .informations-5 {
        height: 260PX;
        margin-top: 30px;
    }
    .informations-6 {
        height: 260PX;
    }
    /*Container images et textes**/
    .container-image {
        height: 90%;
        border-radius: 20px 20px 0 0;
    }
    .container-image-column {
        height: 80%;
        border-radius: 30px 30px 0 0;
    }
    .container-texte-column {
        padding-left: 20px;
        align-content: center;
        border-radius: 0 0 30px 30px;
    }
    .container-texte {
        padding-left: 20px;
        border-radius: 0 0 30px 30px;
    }
    /**
    /**
    /***
    *
    *
    ***/
    /*Ici on s'occupe de la partie footer de la page*/
    .page-footer {
        background-color: #F2F2F2;
        width: 100%;
    }
    .container-col-footer {
        display: flex;
        padding: 50px 90px;
    }
    .col-footer {
        flex: 1;
    }
    .footer-li {
        margin: 15px 0;
    }
    .footer-li a {
        color: black;
    }
    .col-footer h3 a {
        color: black;
    }
}